language: go

go:
  - tip
  - 1.8
  - 1.7
  - 1.6
  - 1.5

before_install:
   - go get golang.org/x/tools/cmd/cover

script:
   - go test -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
