---
name: Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Lib
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.14.x, 1.15.x, 1.16.x, 1.17.x, 1.18.x, 1.19.x]
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        id: go

      - run: go version

      - name: Make
        run: make test

      - name: Update coverage profile
        run: bash <(curl -s https://codecov.io/bash)
